.postBody {
    :global(.rehype-code-title) {
        @apply mt-3 -mb-3 rounded-tl rounded-tr bg-slate-500 px-4 pt-1 pb-2 font-mono text-sm text-gray-200 dark:bg-violet-200 shadow-md;
    }

    div:global(.rehype-code-title) + pre {
        @apply rounded-tl-none rounded-tr-none;
    }

    img {
        @apply ml-auto mr-auto;
    }

    blockquote {
        @apply not-italic;

        p:first-of-type::before {
            content: none;
        }

        p:last-of-type::after {
            content: none;
        }
    }
}